@font-face {
   font-family: Ganapati; 
   src: url(../font/Ganapati.ttf) format('truetype');
}

@font-face{
   font-family: GanapatiBold; 
   src: url(../font/Ganapati.ttf) format('truetype');
   font-weight: bold;
}

.anukramanikeshershike {
    font-family:GanapatiBold;
    text-align: justify;
    font-size:200%;
}

.anukramanike {
    font-family:GanapatiBold;
    text-align: justify;
    font-size:200%;
}

.vinyaasalipi {
    font-family: Ganapati;
    font-size: large;
    text-align: justify;   
    line-height:1.8 
}

.viniyoga {
    font-style: normal;
    word-spacing: .25em;
}

.purvanga {
    padding-bottom: 10px;
    font-style: italic;
    word-spacing: .20em;
}

.sheershike {
    font-family:GanapatiBold;
    text-align: center
}

.ghatta {
    font-family:GanapatiBold;
    text-align: justify
}
