@font-face {
   font-family: Ganapati; 
   src: url(../font/Ganapati.ttf) format('truetype');
}

@font-face{
   font-family: GanapatiBold; 
   src: url(../font/Ganapati.ttf) format('truetype');
   font-weight: bold;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
    font-family: GanapatiBold;
    font-size:125%;
}

.anukramanike {
    margin-right: 10%;
    margin-left: 10%;
    font-family: GanapatiBold;
    font-size:125%;
}

div[data-role="page"] {
    background-color: #4a4848
}

.vinyaasalipi {
    font-family: Ganapati;
    font-size:110%;
    text-align: justify;   
    line-height:1.8 
}

.viniyoga {
    font-style: normal;
    word-spacing: .10em;
}

.purvanga {
    padding-bottom: 10px;
    font-style: italic;
    word-spacing: .10em;
}

.sheershike {
    font-family: GanapatiBold;
    text-align: center
}

.ghatta {
    font-family: GanapatiBold;
    text-align: justify
}
